body{
  display: flex;
  margin: 0;
}

ul{
    padding: 5px;
    background-color: aqua;
}

li{
    width: 50px;
    list-style: none;
    padding: 5px;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 5px;
}

a{
    color: white;
    text-decoration: none;
}

table{
    border: 1px solid black;
    margin: 50px;
}

th, td {
  border: 1px solid black;
  text-align: center;
}

th {
  background-color: aqua;
}